---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.img-center
{
    margin: 0 auto;
    display: block;
}
.img-resize {
    width: 400px;
    height: auto;
}

