---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.img-center
{
    margin: 0 auto;
    display: block;
}
.img-resize {
    width: 450px;
    height: auto;
}
img + em {
//image captions
    display: block;
    text-align: center;
}
